.productscreen {
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;
}

.productscreen__left {
    display: flex;
    flex: 0.8;
}

.left__image {
    margin: 1rem;
    flex: 0.6;
}

.left__info {
    margin: 1rem;
    flex: 0.4;
    background: white;
    height: fit-content;
    font-size: 0.9rem;
}

.left__name {
    font-weight: bold;
    font-size: 1.3rem;
}

.left__info > p,
.right__info > p {
    padding: 1rem;
    border-radius: 1px solid rgba(0,0,0,0.2);
}